﻿@model IList<Transactions>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TransactionLog</title>
    <input type="text" name="minPrice" class="form-control" />
    <label>до</label>
    <input type="text" name="maxPrice" class="form-control" />
    <input type="submit" value="Отфильтровать" />

</head>
<body>
<table class="table">
    @foreach (Transactions t in Model)
    {
        <tr>
            <td>@t.UserReceiver </td>
            <td>@t.SendSum </td>
            <td>@t.SendDateTime </td>
            <td></td>
        </tr>
    }
</table>
</body>
</html>
