﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.TransactionViewModel

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Transactions" asp-action="Transaction">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="ReciverAccount"></label><br />
        <input asp-for="ReciverAccount" />
        <span asp-validation-for="ReciverAccount"></span>
    </div>
    <div>
        <label asp-for="Sum"></label><br />
        <input asp-for="Sum" />
        <span asp-validation-for="Sum"></span>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>