﻿@model User
<!DOCTYPE html>

<html>
<head>
    <title> @Model.UserName </title>
</head>
<body>
    <div>  Лицевой Счет @Model.UserName </div>
<div>Баланс = @Model.PersonalBalance</div>
    
<a asp-action="Transaction" asp-controller="Transactions">Транзакция</a>
<a asp-action="TransactionLog" asp-controller="Transactions">Транзакция Журнал</a>
</body>